<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <title>Pet Store App</title>
</head>
<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button @click="toggleShowProduct">
                {{totalItemsInTheCart}}
                <span class="fas fa-shopping-cart"></span>
                Checkout
            </button>           
        </header>

        <div v-if="showProduct">
            <main>
                <figure>
                  <img v-bind:src="product.image">
                </figure>
    
                <h1 v-text="product.title"></h1>           
                <p v-text="product.description"></p>
                <p>Price:{{product.price}}</p>
    
                <button v-if="canAddToCart" v-on:click="addItemToCart">Add to the Cart</button>
                <div v-else>
                    <button disabled>Add to the cart</button>
                    You have added all the available items for this product in your cart.
                </div>
            </main> 

        </div>
        <div v-else>
            <h1>Welcome to the Checkout Page</h1>
        </div>        
    </div>

    <script>
        let webstore = new Vue({
            el: "#app",
            data: {
                sitename: "Pet Store App",
                showProduct: true,
                product: {
                 id: 1001,
                 title: "Cat Food, 25lb bag",
                 description: "A 25 pound bag of irresistible," + "organic goodness for your cat.",
                 price: 2000,
                 image: "images/images.jpg",
                 availableItemsInventory: 4
                 
            },
            cart: []

        },
        methods: {
            addItemToCart: function() {
                this.cart.push(this.product.id);
            },
            toggleShowProduct() {
                this.showProduct = this.showProduct ? false : true;
            }
        },
        computed: {
            totalItemsInTheCart: function() {
                return this.cart.length ||"";
            },
        canAddToCart() {
                return this.product.availableItemsInventory > 
                this.totalItemsInTheCart;
            }
        }

    }) 
    </script>    

</body>
</html>